sudo: false
language: node_js
node_js:
  - 'node'
  - '7'
  - '6'
  - '4'

before_install: yarn global add greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
